Logs/*
EasyTrainers.log
EasyTrainers1.log
EasyTrainers2.log
EasyTrainers3.log
Logs.txt
config.json
db.sqlite3
options.json
style.json
lang/en.json
Config/JSON/navigation.json
Config/JSON/ui.json
Config/JSON/bindings.json
Config/JSON/bindings.json
deploy.py
deploy_gui.py
